@media only screen and (max-width: 768px) {
  .content-section {
    min-height: calc(100vh - 44px);
    box-sizing: border-box;
  }

  .min-page-height {
    min-height: calc(100vh - 44px);
    box-sizing: border-box;
  }

  .sm-w10 {
    width: 10px;
  }
  .sm-w150 {
    width: 150px;
  }
  .sm-w-100 {
    width: 100%;
  }
  .sm-h0 {
    height: 0px;
  }

  .sm-h20 {
    height: 20px;
  }

  .sm-h44 {
    height: 44px;
  }

  .sm-fs22 {
    font-size: 22px;
  }
  .sm-fs28 {
    font-size: 28px;
  }
  .sm-lh28 {
    line-height: 28px;
  }
  .sm-lh32 {
    line-height: 32px;
  }

  .sm-py16 {
    padding-top: 16px;
    padding-left: 16px;
  }
  .sm-ph16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sm-ph32 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .sm-mb16 {
    margin-bottom: 16px;
  }
  .sm-mb20 {
    margin-bottom: 20px;
  }
  .sm-mb36 {
    margin-bottom: 36px;
  }
  .sm-mr0 {
    margin-right: 0px;
  }

  .sm-br16 {
    border-radius: 16px;
  }
  .sm-d-none {
    display: none;
  }
  .sm-flex-column {
    flex-direction: column;
  }
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-t-45 {
    top: 45%;
  }
  .sm-b-auto {
    bottom: auto;
  } 
  .sm-r-auto {
    right: auto
  } 
  .sm-l-50 {
    left: 50%
  } 
  .sm-r-50 {
    right: 50%
  } 
  .sm-transy-50 {
    transform: translateY(-50%)
  }
}
