.alata {
  font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.archivo {
  font-family: "Archivo Black", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.nowrap {
  white-space: nowrap;
}
.fs24 {
  font-size: 24px;
}
.fs36 {
  font-size: 36px;
  line-height: 48px;
}
.fs40 {
  font-size: 40px;
}
.lh44 {
  line-height: 44px;
}
.w10 {
  width: 10px;
}
.w16 {
  width: 16px;
}
.w18 {
  width: 18px;
}
.w20 {
  width: 20px;
}
.w24 {
  width: 24px;
}
.w36 {
  width: 36px;
}
.w46 {
  width: 46px;
}
.w60 {
  width: 60px;
}
.w100 {
  width: 100px;
}
.w233 {
  width: 233px;
}
.w252 {
  width: 252px;
}
.w100vw {
  width: 100vw;
}
.w-100 {
  width: 100%;
}
.h36 {
  height: 36px;
}
.h46 {
  height: 46px;
}
.h48 {
  height: 48px;
}
.h100 {
  height: 100px;
}
.h120 {
  height: 120px;
}

.h296 {
  height: 296px;
}

.mw252 {
  max-width: min(252px, 100%);
}
.mw354 {
  max-width: min(354px, 100%);
}
.mw520 {
  max-width: min(520px, 100%);
}
.mw580 {
  max-width: 580px;
}
.mw610 {
  max-width: 610px;
}
.mw640 {
  max-width: min(640px, 100%);
}
.mw720 {
  max-width: min(720px, 100%);
}
.mw762 {
  max-width: min(762px, 100%);
}
.mw1024 {
  max-width: min(100%, 1024px);
}
.mw1080 {
  max-width: 1080px;
}
.mw1052 {
  max-width: min(100%, 1052px);
}
.mw1100 {
  max-width: min(100%, 1100px);
}
.mw1280 {
  max-width: 1280px;
}
.mw-100vw {
  max-width: 100vw;
}
.mw-100 {
  max-width: 100%;
}
.minw500 {
  min-width: 500px;
}
.br10 {
  border-radius: 10px;
}
.br30 {
  border-radius: 30px;
}
.br32 {
  border-radius: 32px;
}
.br-50 {
  border-radius: 50%;
}

.h8 {
  height: 8px;
}
.t0 {
  top: 0px;
}
.b0 {
  bottom: 0px;
}
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.m0 {
  margin: 0 !important;
}
.mh16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr24 {
  margin-right: 24px;
}
.gap60 {
  gap: 60px;
}
.gapx40 {
  column-gap: 40px;
}
.gapx60 {
  column-gap: 60px;
}
.gapy30 {
  row-gap: 30px;
}

.bg-main {
  background: linear-gradient(216.26deg, #000626 51.36%, #08385b 81.35%);
}

.bg-plain {
  background: #000520;
}
.bg-white {
  background: white;
}
.bg-white-60 {
  background: rgba(255, 255, 255, 0.6);
}
.bg-c4 {
  background: #c4c4c4;
}

.bg-card {
  background: url(../public/AdobeStock20_217854337%201.png);
  opacity: 0.2;
}
.bg-card2 {
  background: linear-gradient(
    109.77deg,
    rgba(255, 255, 255, 0.56) 11.68%,
    rgba(255, 255, 255, 0) 65.64%
  );
  opacity: 0.4;
}
.bg-card-border {
  overflow: hidden;
  border: 20px solid;
  border-image-source: linear-gradient(
    137.21deg,
    #ffffff -0.1%,
    rgba(255, 255, 255, 0) 62.99%
  );
  border-image-width: 20px;
  border-image-slice: 1;
}

.glow {
  color: #5eb7bc;
}

.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb34 {
  padding-bottom: 34px;
}
.pb50 {
  padding-bottom: 50px;
}
.py7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ph80 {
  padding-left: 80px;
  padding-right: 80px;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-inline-block {
  display: inline-block;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-fill {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.overflow-hidden {
  overflow: hidden;
}

.min-page-height {
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
}
.cursor-pointer {
  cursor: pointer;
}

.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

.border-box {
  box-sizing: border-box;
}
